
* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

a {
  text-decoration: none;
}

body {
  font-size: 16px;
}

/*.row:after, .row:before {*/
  /*content: "020";*/
  /*display: block;*/
  /*height: 0;*/
  /*clear: both;*/
  /*visibility: hidden;*/
/*}*/

/*.markdown-body ul li {*/
  /*list-style: disc;*/
/*}*/

/*.markdown-body ol li {*/
  /*list-style: decimal;*/
/*}*/

.markdown-body pre {
  overflow-y: auto;
}
